.import-file-modal {
    .dropdown-menu-container .dropdown .btn {
    font-weight: 900;
    }

    
    .dropdown-menu > li > a{
        font-weight: 900;
    }

    .dropdown {
        width: 100%;
    }
    .dropdown-menu-container .dropdown .btn {
        width: inherit;
        border-radius: 0;
        border-style: solid;
        border-color: #2d394f;
        border-width: 2px;
    }

    .modal-dialog {
        //width: 90% !important;
        //height: 90% !important;

        .modal-content {
            .modal-header {
                color: $wasdi-white;
                background-color: $wasdi-blue-logo;
                .close {
                    color: $wasdi-white;
                    opacity: 1;
                }
                .snap-logo {
                    width: 50px;
                }
            }

            .modal-body {
                height: 50vh;
                .user-options {
                    .wasdi-input {
                        margin-top: 0;
                    }
                    .btn-wasdi {
                        margin-top: 1px;
                    }
                }
            }

            .modal-footer {
                border-top: 1px solid $wasdi-blue-logo;
                .my-button {
                    padding: 10px 21px;
                }
            }
        }
    }
}
