<div style="  overflow: scroll;">
    <label style="width: 100px;">  </label>
    <div ng-repeat="b in $ctrl.columnLabels" style="display: inline;">
        <label style="width: 100px;"> {{b}} </label>
    </div>
<div ng-repeat="a in $ctrl.rowLabels">
    <label style="width: 100px;"> {{a}} </label>
    <!--input type="text" value={{$parent.$index}}{{$index}} value={{a}}{{b}}{{$parent.$index}}{{$index}}/-->
    <div ng-repeat="b in $ctrl.columnLabels" style="display: inline;">
    <input type="text" style="width: 100px;" ng-model="$ctrl.matrix[$index][$parent.$index]"/>
</div>
</div>



